////
///
/// example-background-deco Styles
///
/// @group Themeview
///
////

.example-background-deco {
    // #region [Block]
    $module: &;
    // #endregion

    // #region [Element]
    &__background {
        display: block;
        width: 100%;
        height: unitize(80px);
        @include color-theme('background-deco');
    }
    // #endregion

    // #region [Modifier]
    // #endregion
}
